{% extends "layout/base.twig" %}

{% block content %}
    <div class="row">
        <h1 class="page-header">
            {{ post.getTitle() }}
        </h1>

        <p> {{ post.getCategory().getName() }}</p>

        <p class="lead">
            by {{ post.getUser().getUsername() }}
        </p>

        <p>{{ post.getText() }}</p>
        <hr>
    </div>

    <div class="row">
        <h2>
            <a href="#">Comments</a>
        </h2>

        <div class="col-md-1"></div>
        <div class="col-md-10">
            {% include 'comments/view.twig' %}
        </div>
        <div class="col-md-1"></div>
    </div>
    {% include 'comments/add.twig' %}
{% endblock %}
