{% extends "base.twig" %}

{% block content %}
    <div class="row">
        <h1 class="page-header">
            Login
        </h1>

        <div class="col-md-8">
            <form method="post">
                <input type="hidden" value="{{ token }}" name="formToken">

                <div class="row">
                    <div class="col-md-12"><input type="text" name="username" class="form-control" placeholder="Username"></div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-12"><input type="password" name="password" class="form-control" placeholder="Password"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" value="Login" class="btn pull-right">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}